* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  padding: 0;
}
.ellipses {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.rlogin {
  background: url("./components/layout/img/loginrest.jpeg") no-repeat center
    center/cover;
}

ul {
  list-style: none;
}
.btn-dark,
.bg-dark {
  background: black;
  color: #fff;
}

:root {
  --primary-color: #28a745;
  --dark-color: black;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

h4 {
  font-size: 30px;
}
p {
  font-size: 14px;
}

.icon-input input:focus,
.select select:focus,
.text-input:focus,
div[tabindex="0"]:focus {
  border-color: #262626 !important;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.btn-primary,
.bg-primary,
.alert-primary {
  background: green;
  color: #fff;
}

.btn-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}
.btn {
  display: block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.btn-danger,
.bg-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}
.form input[type="submit"],
button {
  font: inherit;
  background: green;
  color: white;
  display: flex;
  justify-content: center;
  z-index: 5;
}

@media (max-width: 700px) {
  .container {
    margin-top: 10rem;
  }
  .form input[type="submit"] {
    max-width: 30%;
    height: auto !important;
    margin: 0 auto !important;
  }
}
.btn-success,
.bg-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
  z-index: 5;
}

.btn-white,
.bg-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}
.form .form-group {
  margin: 0.5rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}
.centered,
.profile {
  /* Center vertically and horizontally */
  position: absolute;
  bottom: 25%;
  left: 25%;
  right: 25%;
  top: 25%;
  justify-items: center;
}
body {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}
header {
  background-color: black;
  color: white;
}
footer {
  background-color: black;
  color: white;
  margin-top: 0.5rem;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;

  @media only screen and (min-width: 992px) {
    width: 20%;
    background-color: black;
  }
  @media only screen and (min-width: 768px) {
    width: 75%;
    background-color: black;
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width: 992px) {
    width: 50%;
  }
}
.profilec {
  position: relative;
  text-align: center;
  color: black;
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  /* margin-top: 6rem; */
  /* margin-bottom: 3rem; */
}
.uber {
  font-weight: 600;
  color: lightgreen;
}

.dash-buttons a {
  display: block;
  width: 30%;
  margin-bottom: 0.2rem;
}

.login,
.signup {
  width: 100%;
}

.logo,
h1 {
  font-weight: 300;
}
.footerref {
  font-size: 14px;
  color: white;
}
a {
  color: var(--primary-color);
  text-decoration: none;
}

.policy {
  float: right;
}
.copyright {
  float: left;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.header {
  margin-left: 3rem;
  background-color: white;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

post-form .post-form-header {
  background: grey;
  padding: 0.5rem;
}
.columnrestaurants {
  float: left;
  width: 25%;
  height: 25%;
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
  /* text-overflow: "..."; */
  border-top: 0.1px;
  border-left: 0.1px;
  border-right: 0.7px;
  border-bottom: 0.1px;
}

.columndietary {
  float: left;
  width: fit-content;
  height: 25%;
  padding: 1px;
}

.column {
  float: left;
  width: 50%;
  height: 50%;
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
}
.columnlanding {
  float: left;
  width: 50%;
  height: 50%;
  padding: 5px;
}
.post-date {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rowlanding {
  border-top: 0.1px solid;
  border-left: 0.1px solid;
  border-right: 0.1px solid;
  border-bottom: 0.1px solid;
  height: fit-content;
}
.imagecol {
  max-width: 100%;
  max-height: 100%;
  vertical-align: auto;
}
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.rows {
  border-top: 0.1px solid;
  border-left: 0.1px solid;
  border-right: 0.7px solid;
  border-bottom: 0.1px solid;
  overflow: hidden;
  white-space: nowrap;
}
.row {
  --bs-gutter-x: 0rem;
}
.col-md-5 {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  white-space: wrap;

  border-collapse: collapse;
}

.cent {
  justify-content: center;
  align-items: center;
  width: 50%;
}
table {
  white-space: nowrap;
  justify-content: left;
}
.boxed {
  border: 1px solid black;
  width: fit-content;
  height: fit-content;
  background-color: lightgrey;
}

.show > .dropdown-menu {
  display: block;
  position: absolute;
}
.nohide {
  display: block;
  height: auto;
  position: relative;
  display: block;
  overflow: auto !important;
  width: 670px;
}

/* The switch - the box around the slider */
.fas {
  cursor: pointer;
}
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 25px;
  color: white;
}
.normalspace {
  white-space: normal;
}
